/* Utilities */
:root {
  --bg-color: #e1e1e1;
  --text-color: #252525;
  --bg-nav: #ffffffe0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

html[data-theme="dark"] {
  --bg-color: #252525;
  --text-color: #e1e1e1;
  --bg-nav: #111111e0;
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
  /* background: red; */
}

a {
  text-decoration: none;
}

/* Navigation */
nav {
  /* background: var(--bg-color); */
  background-color: var(--bg-nav);
  width: 100%;
  max-width: 60%;
  position: fixed;
  border-radius: 1rem;
  padding: 1rem 0.75rem;
  display: flex;
  justify-content: space-between;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  backdrop-filter: blur(5px);
}

.logo a {
  color: var(--text-color);
}

.logo span {
  color: darkviolet;
  font-weight: 600;
}

.theme-toggle {
  cursor: pointer;
}

/* Header */
header {
  padding-top: 5rem;
  text-align: center;
}

header .container {
  padding-top: 3rem;
}

header p {
  color: #555;
}

/* Content */
h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.card {
  /* background: #fff; */
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.fetch {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.fetch h2 {
  margin-bottom: 1rem;
}

form,
button,
input {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

label {
  color: #555;
}

button {
  background: darkviolet;
  color: #fff;
  cursor: pointer;
}

.left-card button,
input {
  font-size: 1rem;
  width: 100%;
}

input {
  margin-bottom: 0.5rem;
}

.card label {
  display: block;
  margin-bottom: 0.25rem;
}

.languages {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

/* how to */
.how-to {
  /* background: green; */
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.how-to div {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.how-to a {
  display: flex;
  align-items: center;
  color: #555;
  cursor: auto;
}

.how-to a span:first-child {
  padding: 0.15rem;
  background: darkviolet;
  border-radius: 50%;
  color: #fff;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.repos a {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  background: #ebebeb;
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.08), 0px 5px 4px rgba(3, 7, 18, 0.06),
    0px 12px 9px rgba(3, 7, 18, 0.05), 0px 20px 15px rgba(3, 7, 18, 0.03),
    0px 32px 24px rgba(3, 7, 18, 0.02);
}

.repos a span:first-child {
  color: #555;
}

.fa-solid {
  font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #f0f0f0;
  }
}

@media (max-width: 1000px) {
  .fetch {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  /* .fetch .card {
  } */
}
